<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic ">

					<img src="images/img-01.png" alt="IMG">


				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Iniciar sesión
					</span>
					<h1 class="h1-formulario">Cédula</h1>

						@* Este es el menu desplegable

					 <div class="wrap-input100 validate-input">
						<select name="seleccion" class="input100" required="" placeholder="Tipo de identificación">
							<option value=""></option>
							<option value="C">CEDULA</option>
						</select>
					</div> *@
					<div class="wrap-input100 validate-input" data-validate="Ingresar 10 digitos">

						<input class="input100" type="number" name="card" placeholder="Número de cédula">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-card-o" aria-hidden="true"></i>
						</span>
					</div>

				

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Enviar código
						</button>
					</div>


				</form>
			</div>
		</div>
	</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <p class="txt2">Se ha enviado un código de acceso a tu WhatsApp.</p>

    <input class="input200" type="text" id="codigo" placeholder="Ingresa el código">

    <button class="codig-form-btn" id="btnIngresarCodigo">Ingresar</button>
  </div>
</div>



	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>